/* *{
  outline: dotted orange 1px;
} */

body {
  min-width: 1300px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  padding: 30px 40px;
  background-color: rgb(143, 0, 0);
  color: white;
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  margin-top: 0;
  padding: 30px 40px;
  color: black;
  font-size: 1.3em;
  text-indent: 30px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
}

figure {
  display: inline-block;
  margin: 170px 0px 40px 40px;
  padding: 10px;
  border: 2px solid rgb(143, 0, 0);
}

img {
  display: inline-block;
  width: 240px;
  height: 200px;
  max-height: 220px;

}
figcaption {
  background-color: #ccc;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  display: block;
  width: 220px;
  position: relative;
}

table {
  margin: 0px 0px 90px 40px;
  background-color: rgb(247, 247, 247);
}

td, th {
  border: 1px solid rgb(143, 0, 0);
  font-family: 'Nunito', sans-serif;
  padding: 2px 5px;
  text-align: left;
  column-width: 120px;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: rgb(168, 107, 107);
  color: white;
}
